<div class="flex-column">
  <div class="card shadow" style="width: 36rem;">
    <div class="card-header">
      <h2 class="text-center">Patient Form</h2>
    </div>
    <div class="card-body">
      
      <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <p class="text-danger"><%= error %></p>
        <% end %>
      <% end %>
      
      <%= form_with model: @patient do |f| %>
        <%= f.label :name, "Patient Name :", class:"mt-3" %>
        <%= f.text_field :name, placeholder: "Enter Patient's Name",class:"mb-2 form-control" %>
        <br>
        
        <div class="form-group">
          <%= f.label :age %>
          <%= f.number_field :age, placeholder: "Patient's Age", class:"mb-2 form-control", min: 0 %>
        </div>
        <br>

        <div class="form-group">
          <%= f.label "Gender :" %>
          <%= f.radio_button :gender, "male" %>
          <%= f.label :gender, "Male" %>
          <%= f.radio_button :gender, "female" %>
          <%= f.label :gender, "Female" %>
        </div>
        <br>

        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, placeholder: "Enter Patient's Description",class:"mb-2 form-control", min: 0 %>
        </div>
        <br>

        <div class="form-group">
          <%= f.collection_select :user_id, Doctor.all, :id, :name, { prompt: 'Select Doctor' }, class:"mb-2 form-control" %>
        </div>

        <%= f.submit "Save Patient", class:"btn-primary border-0 rounded-pill shadow p-3" %>
      <% end %>
    </div>
  </div>
</div>